.cabecera{
	background:#222;
}
.logo{
	width:100px;
	height:auto;
}
ul{
	list-style:none;
	margin-top: 20px;
}
.may{
	text-transform: uppercase;
}
ul>li{
	display: inline-block;
}
.lineal{
	margin-top:20px;
	margin-bottom:10px;
}
.lado{
	display: inline-block;
}
.texto{
	color:#ccc;
	font-size: 18px;
	font-family:Arial; 
}
.gris{
	background: #eee;
}
.cartel{
	background: #fff;
	border:solid #000 1px;
	width:180px;
	height:auto;
}
.btn{
	margin-top:20px;
	margin-left:200px;
}
p{
	color:#222;
	font-family: Arial;
	font-size: 25px;
}
.azul{
	color: #3366cc;
	font-size: 14px;
}

.centro{
	text-align: center;
}
.blanco{
	background:#fff;
}
.miniaturas{
	display: inline-block;
	border:solid #000 1px;
	width:100px;
	height:auto;
	background: #fff;
}
img{
	padding:2px;
}
.caja{
	margin-top:100px;
}
h3{
	color:#222;
	font-family: Arial;
    font-weight: bold;
}
.icono{
	width:15px;
	height:15px;
	margin-right: 20px;
}
.barra{
	margin-top:10px;
}
.color{
	background-color: #666;
}
.peso{
	font-weight: bold;
}
.pie{
	font-family:Arial;
	font-size:13px;
	color: #fff;
}
.cajon{
	margin:30px;
}